<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div 
          :style="healthStyle2"
          class="healthbar__value"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div
          :style="healthStyle"
          class="healthbar__value"></div>
        </div>
      </section>

      <section id="container" v-if='winner'>
            <h1 >Game Over</h1>
            <span v-if="winner=='player'">
              You won!
            </span>
            <span v-else-if="winner=='monster'">
              You Lose!
            </span>
            <span v-if="winner=='draw'">
              Draw
            </span>
               <br>
            <button v-if="winner!=null" @click="reset">Reset</button>
            
          </section>

      <section v-else id="controls">
        <button 
        @click="playerAttack"
        >ATTACK</button>
        <button :disabled="round%3!=0"
        @click="playerSpAtk"
        >SPECIAL ATTACK</button>
        <button
        @click="heal"
        >HEAL</button>
        <button
        @click="surrender"
        >SURRENDER</button>
      </section>
    
    </div>
  </body>
</html>
